.bg-img-parent {
  background-image: url('../images/home-back-pic.png');
  height: 60vh;
}

.home-pic {
  width: 100%;
  height: 400px;
  /* position: absolute; */
  z-index: 1;
}

.home-info {
  background-color: rgb(255, 255, 255); 
  font-size: 20px;
  font-weight: 350;
  position: absolute;
  margin: 15% 0 0 18%;
  padding: 5px 30px 5px 30px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.9px);
  -webkit-backdrop-filter: blur(7.9px);
  border: 1px solid rgba(255, 255, 255, 0.74);
  color: white;
  font-weight: 300;
  letter-spacing: 2px;
}

p span {
  display: block;
}

.log-reg-bg {
  background: url(../images/home-back-pic.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.login-wrapper{
  width: 100%;
}

.login-wrapper, .register-wrapper {
  align-items: center;
  justify-content: center;
  display: flex;
  min-height: calc(100vh - 105px);
}

.login-card, .register-card {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  width: 300px;
  padding: 20px 40px 30px 40px;
  box-shadow: 0 0px 20px rgb(0, 0, 0);
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inline {
  display: flex;
  width: 100%;
}

.inline-sep {
  display: flex;
  width: 100%;
  margin: 80px;
}

.login-card form, .register-card form {
  display: flex;
  flex-direction: column;
}

.login-card form, .register-card form input[type=text] {
  width: 100%;
}

.log-reg-input {
  height:30px;
  width: 100%;
  background-color: white;
  border: 0;
  border-bottom: 1px solid grey;
  margin: 15px 0 30px 0;
}

.log-reg-btn {
  border-radius: 10px;
  border: 1px solid green;
  background-color: green;
  color: white;
  width: 100%;
  font-size: 15px;
  padding: 6.5px;
}

.quick-tip {
  font-style: italic;
  font-weight: 350;
  font-size: 13px;
}

.user-pfp {
  height: 180px;
  width: 180px;
  border-radius: 100rem;
  margin: 0 8rem 0 25rem;
}

.edit-account-btn {
  height: 35px;
  width: 150px;
  color: grey;
  background-color: white;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 0 0 0 12rem;
}

.dressing-title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 5px;
  padding: 50px 0 20px 12%;
  border-bottom: 1px solid lightgrey;
}