.dropdown {
  position: relative;
  display: inline-block;
}

.filter-name {
  text-transform: uppercase;
  font-weight: 350;
  letter-spacing: 3px;
  font-size: 12px;
  list-style-type: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin: 0;
  width: 350px;
}

.dropdown-content p:hover {
  background-color: #a3dfa1;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.navbar-c-items {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: rgb(233, 233, 233);
  border-style: solid;
  border-width: 0 0px 2px 0px;
  padding: 10px 10px 10px 10px;
  background-color: white;
}

.navbar-c-logo {
  height: 40px;
  margin-left: 30px;
}

.btn-register-login {
  background-color: white;
  border-color: rgb(179, 179, 179);
  border-radius: 7.5px;
  border-width: 1px;
  margin-right: 20px;
}

.filters-c-items {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: rgb(233, 233, 233);
  border-style: solid;
  border-width: 0 0px 2px 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 300;
  background-color: white;
}

.searchbar {
  border-radius: 10px;
  width: 500px;
  height: 35px;
  background-color: #f5f2f2;
  border: 0;
  padding: 0 0 0 15px;
}

.categories {
  display: none;
}

.filter:hover .categories {
  display: block;
  background-color: rgb(194, 194, 194);
}

.add-product-btn button {
  margin: 70vh 0 0 92%;
  position: fixed;
  background-color: #3e8e41;
  height: 60px;
  width: 60px;
  color: white;
  font-size: 50px;
  text-align: center;
  border-radius: 100px;
  cursor: pointer;
  border: white solid 1px;
  z-index: 1;
}

.add-product-btn button:hover {
  background-color: #067507;
}

.navbar-btns {
  background-color: transparent;
  border: transparent;
  border-radius: 100px;
}

.navbar-right-icons {
  height: 20px;
  padding: 10px;
  background-color: rgb(235, 235, 235);
  border-radius: 100px;
}

.navbar-right-icons:hover { color: red; }

.add-product-btn:hover .plus-icon { display: none; }

.add-text { display: none; }

.add-product-btn:hover .add-text { display: block; }

.add-product-btn:hover button { width: 150px;}